/* MAIN CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn-space {
    margin-top: 20px;
}

html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
  font-family: 'Roboto', sans-serif;
}

body {
	padding: 100px 0px 100px 0px;
    font-family: 'Roboto', sans-serif; /* 1 */
    font-size: 14px;
    color: #FFFFFF;
    background-color: #050F1A;
}

ul.openGamesC{
  color: #6E7578;
}

.openGamesC li:hover {
  color: #55595b;
  text-shadow: 0.1em 0.1em 0.2em black;
}

#red{
  color: #FFF;
  background-color: #4f9cf2;
  border-color: #4f9cf2;
}
#red:hover{
  background-color: rgb(72, 97, 239);
  border-color: rgb(72, 97, 239);
}

.cardb h1{
    color: white;
}
.cardb input{
    background-color: white;
}

.cardb {
    text-align: center;
    box-shadow: 0 2em 4em 0 #3aa84f;
    transition: 0.5s;
    background: rgba(32, 86, 60, 0.85);
    padding: 0.6em;
    animation: pulseb 2s infinite;
}

.cardb:hover {
    animation: none;
}

.cardr h1{
    color: white;
}
.cardr {
    text-align: center;
    box-shadow: 0 2em 4em 0 #659af7;
    transition: 0.5s;
    background: rgba(36, 108, 153, 0.85);
    padding: 0.6em;
    animation: pulsea 2s infinite;
}

.cardr:hover {
    animation: none;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
	text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #212529;
	font-family: 'Roboto', sans-serif;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #fff; }
a:hover {
	text-decoration: none;
	color: #3aa84f; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #35c450;
  border-color: #35c450; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1d8731;
  border-color: #1d8731; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 1px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

  /* Pulse 1 Animation
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  @-webkit-keyframes pulse {
   0% {
     -webkit-box-shadow: 0 0 0 0 rgba(96, 145, 230, 0.3);
   }
   70% {
       -webkit-box-shadow: 0 0 0 10px rgba(96, 145, 230, 0.3);
   }
   100% {
       -webkit-box-shadow: 0 0 0 0 rgba(96, 145, 230, 0.3);
   }
 }
 @keyframes pulsea {
   0% {
     -moz-box-shadow: 0 0 0 0 rgba(96, 145, 230, 0.3);
     box-shadow: 0 0 0 0 rgba(96, 145, 230, 0.5);
   }
   70% {
       -moz-box-shadow: 0 0 0 10px rgba(96, 145, 230, 0.3);
       box-shadow: 0 0 0 10px rgba(96, 145, 230, 0.5);
   }
   100% {
       -moz-box-shadow: 0 0 0 0 rgba(96, 145, 230, 0.3);
       box-shadow: 0 0 0 0 rgba(96, 145, 230, 0.3);
   }
 }

 /* Pulse 2 Animation
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

 @-webkit-keyframes pulseb {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(32, 86, 60, 0.3);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(32, 86, 60, 0.3);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(32, 86, 60, 0.3);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(32, 86, 60, 0.3);
    box-shadow: 0 0 0 0 rgba(32, 86, 60, 0.3);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(32, 86, 60, 0.3);
      box-shadow: 0 0 0 10px rgba(32, 86, 60, 0.3);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(32, 86, 60, 0.3);
      box-shadow: 0 0 0 0 rgba(32, 86, 60, 0.3);
  }
}

table {
    background-color: #050F1A;;
    color: white;
    border-collapse: collapse;
    width:auto;
}

table th {
    padding: 10px;
}

table td {
    padding: 2px 10px;
    white-space:nowrap;
}

table td:nth-child(odd), table th:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}
