/* MAIN CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn-space {
    margin-top: 20px;
}

html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

hr.style1{
	border-top: 1px solid #ffffff;
}

.games {
    padding-bottom: 40px;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
  font-family: 'Roboto', sans-serif;
}

.bg-inverse {
    background-color: #212529!important;
    font-family: 'Roboto', sans-serif;
}

body {
	padding: 100px 0px 100px 0px;
    font-family: 'Roboto', sans-serif; /* 1 */
    font-size: 14px;
    color: #FFFFFF;
    background-color: #050F1A;
}

ul.openGamesC{
  color: #6E7578;
}

.openGamesC li:hover {
  color: #55595b;
  text-shadow: 0.1em 0.1em 0.2em black;
}

#create{
  color: #FFF;
  background-color: #4f9cf2;
  border-color: #4f9cf2;
  margin-bottom: 10px;
}
#create:hover{
  background-color: rgb(72, 97, 239);
  border-color: rgb(72, 97, 239);
}

#join{
  color: #FFF;
  background-color:#3dba75;
  border-color: #3dba75;
  margin-bottom: 10px;
}
#join:hover{
  background-color: rgb(48, 160, 106);
  border-color: rgb(48, 160, 106);
}

.cardb h1{
    color: white;
}
.cardb input{
    background-color: white;
}

.cardb {
    text-align: center;
    box-shadow: 0 2em 4em 0 #37ad6c;
    transition: 0.5s;
    background: rgba(57, 150, 99, 0.85);
    padding: 0.6em;
}

.cardr h1{
    color: white;
}
.cardr {
    text-align: center;
    box-shadow: 0 2em 4em 0 #2d5a91;
    transition: 0.5s;
    background: rgba(43, 58, 173, 0.85);
    padding: 0.6em;
}

table {
    background-color: #050F1A;;
    color: white;
    border-collapse: collapse;
    width:100%;
}

table th {
    padding: 10px;
}

table td {
    padding: 2px 10px;
    white-space:nowrap;
}

table td:nth-child(odd), table th:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
	text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #212529;
	font-family: 'Roboto', sans-serif;
    color: white;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #fff; }
a:hover {
	text-decoration: none;
	color: #3aa84f; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    height: 38px;
    color: #555;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: white;
    border-radius: 1px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 30px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 1px;
    box-shadow: none;
    box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
    min-height: 65px;
    padding-top: 2px;
    padding-bottom: 4px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
label,legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 400;
    text-transform: uppercase;
    }
fieldset {
    padding: 0;
    border-width: 0; }
input[type="checkbox"],input[type="radio"] {
    display: inline; }
label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }
