{% extends "base.html" %}

{% load static %}

{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <h2 class="custom-h2">List of Open Game Rooms</h2>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row" id="games">
        <div class="col table-responsive text-center">
            <table class="table metal-effect2">
                <thead>
                    <tr>
                        <th class="text-center">Game ID</th>
                        <th class="text-center">Game Room Name</th>
                        <th class="text-center">Game Room Owner</th>
                        <th class="text-center">Players Connected</th>
                        <th class="text-center">Max Players Allowed</th>
                    </tr>
                </thead>
                <tbody id="openGames" class="openGamesC text-center">

                {% if latest_game_list %}
                    {% for latest_game in latest_game_list %}
                        <tr>
                            <td class="text-center">{{latest_game.id}}</td>
                            <td class="text-center">{{latest_game.game_name}}</td>
                            <td class="text-center">{{latest_game.user}}</td>
                            <td class="text-center">{{latest_game.connected_players}}</td>
                            <td class="text-center">{{latest_game.max_players}}</td>
                        </tr>
                   {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No available games</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <span class="step-links">
        <center>
            {% if latest_game_list.has_previous %}
                <a href="?page={{ latest_game_list.previous_page_number }}">previous  </a>
            {% endif %}
            <span class="current">
                Page {{ latest_game_list.number }} of {{ latest_game_list.paginator.num_pages }}
            </span>
            {% if latest_game_list.has_next %}
                <a href="?page={{ latest_game_list.next_page_number }}" >  next</a>
            {% endif %}
        </center>
    </span>
    <br>
    <br>

    <div class="row text-center">
        <div class="col-md-12 col-lg-12" id="rooms_list">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <div class="cardb">
                <h2 class="custom-h2">Join Game</h2>
                <hr class="style1">
                <form method="post" onsubmit="myButton.disabled=true; return true;">
                    {% csrf_token %}
                    {% for field in join_form %}
                    <div class="row top30">
                        <div class="col">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <div>
                                <small style="color: white">{{ field.help_text }}</small>
                            </div>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <hr class="style1">
                    <input type="submit" value="join game" id="join" class="metal">
                </form>
                <div id="JoinError"></div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="cardr">
                <h2 class="custom-h2">Create Game</h2>
                <hr class="style1">
                <form method="post" onsubmit="myButton.disabled=true; return true;">
                    {% csrf_token %}
                    {% for field in game_form %}
                        <div class="row top30">
                            <div class="col">
                            {{ field.label_tag }}
                            {% if field == game_form.max_players %}
                            <div id="slider">
                                <span class="highlight"></span>
                                <output id="rangevalueplayers">2</output>
                            </div>
                            {{ field }}
                            {% elif field == game_form.num_alliances %}
                            <div id="slider">
                                <span class="highlight"></span>
                                <output id="rangevaluealliances">0</output>
                            </div>
                            {{ field }}
                            {% elif field == game_form.bot_players %}
                            <div id="slider">
                                <span class="highlight"></span>
                                <output id="rangevaluebot">2</output>
                            </div>
                            {{ field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                            {% if field.help_text %}
                                <div>
                                    <small style="color: white">{{ field.help_text }}</small>
                                </div>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <hr class="style1">
                    <input type="submit" class="metal" value="create game" id="create">
                </form>
            </div>
        </div>
    </div>
</div>

        <script src="{% static "/js/main.js" %}" type="text/javascript"></script>

{% endblock %}
