{% extends "base.html" %}

{% load static %}

{% block main_content %}

<div class="row">
    <div class="col-lg-12 col-md-12 text-center">
        <h1>Game Instructions</h1>
        <hr>
        <div class="row metal-effect2">
            <div class="col-lg-12 top15">
                <p>
                    Clasf Of The Planets is a real time space combat game. Each player owns a planet that has a control sheet to make all bookkeeping (population, shield and missiles) easier.
                    The game is normally played in two modes, each player can choose their own distribution to generate the three kind of resources, choose an enemy planet and attack them.
                    The last player with the planet alive is the one who win the game.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
