{% extends "base.html" %}

{% load static %}

{% block main_content %}

<script src="{% static 'js/inroom.js' %}?v=00003" type="text/javascript"/></script>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>
            Welcome {% if request.user.is_authenticated %}<span class="text-primary" >{{request.user.username}}</span> to {% endif %}
            Game Room ID:
            <p id="gamenum">{{game.id}}</p>
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
                <table class="table metal-effect2">
                    <thead>
                        <tr>
                            <th class="text-center">Planet ID</th>
                            <th class="text-center">Planet Name</th>
                            <th class="text-center">Planet Owner</th>
                        </tr>
                    </thead>
                    <tbody id="playerList" class="text-center">
                    </tbody>
                </table>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            {% if request.user == game.user %}
            <!-- solo el creador de la sala puede comenzar el juego-->
            <form action="{% url 'start_game' game.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="start game" class="metal">
            </form>
            {% endif %}
        </div>
        <div class="col">
            <form action="{% url 'game_rooms' %}" method="post">
                {% csrf_token %}
                <input type="submit" class="metal" value="back to lobby" onclick="return confirm('Are you sure?')" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
