{% extends "base.html" %}

{% load static %}

{% block main_content %}

<script src="{% static 'js/inroom.js' %}?v=00003" type="text/javascript"/></script>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Game Room: {{game.room_name}}
            <p id="gamenum">{{game.id}}</p>
            {% if request.user.is_authenticated %}
                <span class="text-primary" >{{request.user.username}}</span>!
            {% endif %}
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Planet ID</th>
                            <th class="text-center">Planet Name</th>
                            <th class="text-center">Planet Owner</th>
                            <th class="text-center">Planet Seed</th>
                        </tr>
                    </thead>
                    <tbody id="playerList" class="text-center">
                    </tbody>
                </table>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            {% if request.user == game.creator %}
            <!-- solo el creador de la sala puede comenzar el juego-->
            <form action="{% url 'start_game' game.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="start game">
            </form>
            {% endif %}
        </div>
        <div class="col">
            <form action="{% url 'game_rooms' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="back to lobby">
            </form>
        </div>
    </div>
</div>
{% endblock %}
