{% extends "base.html" %}

{% block main_content %}

<div class="row justify-content-center">
    <div class="col-4 text-center">
        <div class="top30">
            <h1>
                Oops!</h1>
            <div>
                Sorry, an error has occured.
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center top30">
    <form action ="{% url 'game_rooms' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="back to lobby" class="metal">
    </form>
</div>

{% endblock %}
