{% extends "base.html" %}

{% load static %}

{% block main_content %}

<script src="{% static 'js/ingame.js' %}?v=00003" type="text/javascript"/></script>

    <div class="row text-center">
        <div class="col">
            <h1>
                Welcome {% if request.user.is_authenticated %}<span class="text-primary" >{{request.user.username}}</span> to {% endif %}
                Game Room ID: <span id="gamenum">{{game}}</span>
            </h1>
        </div>
    </div>
    <div class="row top30">
        <div class="col table-responsive">
            <table class="table metal-effect2">
                <thead>
                    <tr>
                        <th class="text-center">Planet ID</th>
                        <th class="text-center">Planet Name</th>
                        <th class="text-center">Planet Owner</th>
                        <th class="text-center">Alliance Name</th>
                        <th class="text-center">Planet Pop</th>
                        <th class="text-center">Planet Shield</th>
                        <th class="text-center">Planet Orders</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for p in planets %}
                    <tr id="planet-{{p.id}}" class="planet-row">
                        <td class="tb_planet_id">{{p.id}}</td>
                        <td class="tb_planet_name">{{p.name}}</td>
                        <td class="tb_planet_owner">{{p.player}}</td>
                        <td class="tb_planet_alliance">{{p.alliance}}</td>
                        <td class="tb_planet_pop"></td>
                        <td class="tb_planet_shield"></td>
                        <td class="tb_attack_order">
                            {% if p == your_planet %}
                                YOUR PLANET!!!
                            {% elif p.alliance == your_planet.alliance %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{p.id}}" name="name_of_var_2">
                                    <input class="send-pop-planet metal" type="submit" value="send pop"/>
                                </form>
                            {% else %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{p.id}}" name="name_of_var">
                                    <input class="attack-planet metal" type="submit" value="Attack"/>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row top30">

        <div class="col-md-6 metal-effect2 text-center">
            <form action = "" method="post">
            {% csrf_token %}
            <h2 class="custom-h2">My Planet's D.R.P.</h2>
            <hr class="style1">

            <div class="row align-items-center">
                <div class="col">
                    Population: <span id="mypopAvailable" class="population"></span> | Missiles: <span id="mymissilesAvailable" class="missiles"></span>
                    <div id="attackError"></div>
                </div>
            </div>

            <div class="row align-items-center extra-controls">
                <div class="col">
                    <p class="planet-var-title">POPULATION</p>
                    <img src="{% static "img/pop_var.png" %}" class="img-fluid planet-var" alt="Amount Of population destinated to generate population"  title="Amount Of population destinated to generate population" />
                    <div>
                        <output id="population_range" class="inp js-from">100</output>%
                    </div>
                    <div id="pop_per_second"></div>
                </div>

                <div class="col">
                    <p class="planet-var-title">SHIELD</p>
                    <img src="{% static "img/shield_var.png" %}" class="img-fluid planet-var" alt="Amount Of population destinated to generate shield" title="Amount Of population destinated to generate shield" />
                    <div>
                        <output id="shield_range" class="inp js-middle">0</output>%
                    </div>
                    <div id="shield_per_second"></div>
                </div>

                <div class="col">
                    <p class="planet-var-title">MISSILES</p>
                    <img src="{% static "img/missile_var.png" %}" class="img-fluid planet-var" alt="Amount Of population destinated to generate missiles" title="Amount Of population destinated to generate missiles" />
                    <div>
                        <span class="highlight"></span>
                        <output id="missiles_range" class="inp js-to">0</output>%
                    </div>
                    <div id="missiles_per_second"></div>
                </div>

            </div>

            <hr class="style1">
            <div class="range-slider">
                <input type="text" class="js-range-slider" value="" />
            </div>
            <hr class="style1">
            </form>
        </div>

        <div class="col-md-5 offset-md-1 metal-effect2">
            <h2 class="custom-h2">Battle Log</h2>
            <hr class="style1">
            <div id="console-log" style="overflow: auto; height: 260px; background-color: #000;"></div>
        </div>
    </div>

    <div class="row text-center top30">
        <div class="col">
            <form action = "{% url 'game_rooms' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="back to lobby" onclick="return confirm('Are you sure?')"/>
            </form>
        </div>
    </div>

{% endblock %}
