{% extends "base.html" %}

{% load static %}

{% block main_content %}

<script src="{% static 'js/ingame.js' %}?v=00003" type="text/javascript"/></script>
<script src="{% static 'js/ion.rangeSlider.min.js' %}"/></script>


<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Game Room <span id="gamenum">{{game}}</span> of {% if request.user.is_authenticated %}<span class="text-primary" >{{request.user.username}}</span>{% endif %}
            </h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col table-responsive">
            <table class="table metal-effect2">
                <thead>
                    <tr>
                        <th class="text-center">Planet ID</th>
                        <th class="text-center">Planet Name</th>
                        <th class="text-center">Planet Owner</th>
                        <th class="text-center">Planet Seed</th>
                        <th class="text-center">Planet Pop</th>
                        <th class="text-center">Planet Shield</th>
                    </tr>
                </thead>
                <tbody id="playerList" class="text-center">
                </tbody>
            </table>
        </div>
    </div>

    <div class="row top30">

        <div class="col-md-6 metal-effect2 text-center">
            <form action = "" method="post">
            {% csrf_token %}
            <h2 class="custom-h2">My Planet's D.R.P.</h2>
            <hr class="style1">

            <div class="row align-items-center">
                <div class="col">
                    <p> Population: <span id="mypopAvailable"></span> | Missiles: <span id="mymissilesAvailable"></span></p>
                </div>
            </div>

            <div class="row align-items-center extra-controls">
                <div class="col">
                    <p class="planet-var-title">POPULATION</p>
                    <img src="{% static "img/pop_var.png" %}" class="img-fluid planet-var" alt="Amount Of population destinated to generate population"  title="Amount Of population destinated to generate population" />
                    <div>
                        <output id="population_range" class="inp js-from">0</output>%
                    </div>
                </div>

                <div class="col">
                    <p class="planet-var-title">SHIELD</p>
                    <img src="{% static "img/shield_var.png" %}" class="img-fluid planet-var" alt="Amount Of population destinated to generate shield" title="Amount Of population destinated to generate shield" />
                    <div>
                        <output id="shield_range" class="inp js-middle">0</output>%
                    </div>
                </div>

                <div class="col">
                    <p class="planet-var-title">MISSILES</p>
                    <img src="{% static "img/missile_var.png" %}" class="img-fluid planet-var" alt="Amount Of population destinated to generate missiles" title="Amount Of population destinated to generate missiles" />
                    <div>
                        <span class="highlight"></span>
                        <output id="missiles_range" class="inp js-to">0</output>%
                    </div>
                </div>

            </div>

            <hr class="style1">
            <div class="range-slider">
                <input type="text" class="js-range-slider" value="" />
            </div>
            <hr class="style1">

            <input id ="btnSubmit" type="button" value="Submit New Distribution">
            </form>
        </div>

        <div class="col-md-5 offset-md-1 metal-effect2">
            <h2 class="custom-h2">Battle Log</h2>
            <hr class="style1">
            <div id="console-log" style="overflow-y: scroll; height:310px;"></div>
        </div>
    </div>

    <div class="row text-center top30">
        <div class="col metal-effect2">
            <h2 class="custom-h2"> Planets To Attack </h2>
            <hr class="style1">
        </div>
    </div>

    <div class="row text-center top30">
        <div class="col">
            <form action = "{% url 'game_rooms' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="back to lobby" onclick="return confirm('Are you sure?')"/>
            </form>
        </div>
    </div>
</div>


{% endblock %}
